@mixin color($cl-text: var(--cl-text), $bg-body: var(--bg-body)) {
  color: $cl-text;
  background-color: $bg-body;
}
@mixin color-reversed($cl-text: var(--cl-text), $bg-body: var(--bg-body)) {
  color: $bg-body;
  background-color: $cl-text;
}
@mixin placeholder($color: var(--cl-placeholder)) {
  color: $color;
  font-size: 97%;
  font-style: italic;
}
@mixin font($font-family: var(--font-family), $font-size: var(--font-size)) {
  font-family: $font-family;
  font-size: $font-size;
}
@mixin flex-width($w) {
  flex: 0 0 $w;
  width: $w;
  min-width: $w;
  max-width: $w;
}
@mixin flex-height($h) {
  flex: 0 0 $h;
  height: $h;
  min-height: $h;
  max-height: $h;
}
@mixin flex($f) {
  flex: $f;
  width: initial;
  max-width: initial;
  min-width: initial;
}
@mixin flex-column() {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@mixin left-to-right-animation($w: 0px) {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - #{$w});
  }
}
@mixin pingpong-animation($w: 0px) {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - #{$w});
  }
  100% {
    left: 0;
  }
}
/************/
@mixin heading() {
  h1,
  .h1 {
    color: var(--cl-primary);
    font-weight: 600;
    font-size: var(--font-size-h1);
    line-height: 1;
    margin-top: 0;
    margin-bottom: 8px;
  }
  h2,
  .h2 {
    color: var(--cl-primary);
    font-weight: 600;
    font-size: var(--font-size-h2);
    line-height: 1;
    margin-top: 0;
    margin-bottom: 8px;
  }
  h3,
  .h3 {
    color: var(--cl-primary);
    font-weight: 600;
    font-size: var(--font-size-h3);
    line-height: 1;
    margin-top: 0;
    margin-bottom: 8px;
  }
  h4,
  .h4 {
    color: var(--cl-primary);
    font-weight: 500;
    font-size: var(--font-size-h4);
    line-height: 1;
    margin-top: 0;
    margin-bottom: 8px;
  }
  h5,
  .h5 {
    color: var(--cl-primary);
    font-weight: 500;
    font-size: var(--font-size-h5);
    line-height: 1;
    margin-top: 0;
    margin-bottom: 8px;
  }
  h6,
  .h6 {
    color: var(--cl-primary);
    font-weight: 500;
    font-size: var(--font-size-h6);
    line-height: 1;
    margin-top: 0;
    margin-bottom: 8px;
  }
  .regular {
    font-size: var(--font-size-regular);
  }
  .bigger {
    font-size: var(--font-size-bigger);
  }
  .smaller {
    font-size: var(--font-size-smaller);
  }
}
@mixin fonts() {
  @include font(var(--font-family), var(--font-size));
}
@mixin colors() {
  @include color(var(--cl-text), var(--bg-body));
  .layout {
    .main {
      @include color(var(--cl-main), var(--bg-main));
    }
    .top {
      @include color(var(--cl-top), var(--bg-top));
    }
    .bottom {
      @include color(var(--cl-bottom), var(--bg-bottom));
    }
    .left {
      @include color(var(--cl-left), var(--bg-left));
    }
    .right {
      @include color(var(--cl-right), var(--bg-right));
    }
  }
}
@mixin common() {
  .space {
    flex: 1;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  * {
    box-sizing: border-box;
  }
  .checkboxfield {
    display: flex;
    align-items: center;
  }
  .fixed {
    position: fixed;
  }
  .horizontal {
    display: flex;
    flex-direction: row;
    > .fit {
      flex: 1;
      width: auto;
    }
    &.reverse {
      flex-direction: row-reverse;
    }
    &.center {
      justify-content: center;
    }
    &.left {
      justify-content: flex-start;
    }
    &.right {
      justify-content: flex-start;
    }
    &.middle {
      align-items: center;
    }
    &.top {
      align-items: flex-start;
    }
    &.bottom {
      align-items: flex-end;
    }
  }
  .vertical {
    display: flex;
    flex-direction: column;
    > .fit {
      flex: 1;
      height: auto;
    }
    &.reverse {
      flex-direction: column-reverse;
    }
    &.center {
      align-items: center;
    }
    &.left {
      align-items: flex-start;
    }
    &.right {
      align-items: flex-end;
    }
    &.middle {
      justify-content: center;
    }
    &.top {
      justify-content: flex-start;
    }
    &.bottom {
      justify-content: flex-end;
    }
  }
}
@mixin a() {
  a,
  .a {
    color: var(--cl-primary);
    text-decoration: none;
  }
}
@mixin form() {
  form,
  .form {
    outline: none;
    border: none;
    border-radius: 0;
  }
}
@mixin iframe() {
  iframe,
  .iframe {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
  }
}
@mixin input() {
  .radio,
  .checkbox,
  input[type="checkbox"],
  input[type="email"] {
    outline: none;
    border: none;
    border-radius: 0;
  }
  .input,
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="number"] {
    height: var(--input-line-height);
    line-height: var(--input-line-height);
    padding: var(--input-padding);
    font-size: var(--input-font-size);
    color: var(--input-color);
    background-color: var(--input-bg-color);
    border: var(--input-border);
    border-radius: var(--input-border-radius);
    box-shadow: var(--input-box-shadow);
    outline: none;
    &:hover,
    &:focus,
    &:active {
      box-shadow: var(--input-box-shadow-hover);
    }
  }
  &::placeholder,
  .placeholder {
    @include placeholder();
  }
}
@mixin textarea() {
  textarea,
  .textarea {
    line-height: var(--textarea-line-height);
    padding: var(--textarea-padding);
    font-size: var(--textarea-font-size);
    color: var(--textarea-text-color);
    background-color: var(--textarea-bg-color);
    border: var(--textarea-border);
    border-radius: var(--textarea-border-radius);
    box-shadow: var(--textarea-box-shadow);
    outline: none;
    &:hover,
    &:focus,
    &:active {
      box-shadow: var(--textarea-box-shadow-hover);
    }
  }
  &::placeholder,
  .placeholder {
    @include placeholder();
  }
}
@mixin select() {
  select,
  .select {
    height: var(--select-line-height);
    line-height: var(--select-line-height);
    padding: var(--select-padding);
    font-size: var(--select-font-size);
    color: var(--select-text-color);
    background-color: var(--select-bg-color);
    border: var(--select-border);
    border-radius: var(--select-border-radius);
    box-shadow: var(--select-box-shadow);
    outline: none;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
      box-shadow: var(--select-box-shadow-hover);
    }
  }
  &::placeholder,
  .placeholder {
    @include placeholder();
  }
}
@mixin label() {
  label,
  .label {
    display: block;
    margin: 0 0 8px;
    padding: 0;
  }
}
@mixin p() {
  p,
  .p {
    display: block;
    padding: 0;
    margin-top: 0;
    margin-bottom: 16px;
  }
}
@mixin inputfield() {
  .inputfield {
    @include flex-width(100%);
    label,
    .label {
      color: var(--cl-primary);
    }
    .input,
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="number"],
    .textarea,
    textarea,
    .select,
    select {
      display: block;
      width: 100%;
    }
  }
}
@mixin layouts() {
  .fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex: 1;
    overflow: auto;
    height: 100%;
    width: 100%;
  }
  #root {
    @extend .fullscreen;
    margin: 0 auto;
  }
  .viewport {
    @extend .fullscreen;
    margin: 0 auto;
  }
  .main-content {
    @extend .fullscreen;
  }
  .page {
    display: flex;
    width: 100%;
    overflow: auto;
    position: relative;
    margin: 0 auto;
  }
  .layout {
    flex: 1;
    width: 100%;
    overflow: auto;
    position: relative;
    margin: 0 auto;
  }
  .layout .top {
    height: var(--top-height);
  }
  .layout .left {
    @include flex-width(var(--left-width));
    overflow: auto;
  }
  .layout .right {
    @include flex-width(var(--right-width));
    overflow: auto;
  }
  .layout .main {
    flex: 1;
    margin: 0 auto;
    overflow: auto;
  }
  .layout.cols {
    overflow: auto;
    display: flex;
    > .content {
      @include flex-height(100%);
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      height: fit-content;
      .main {
        width: 100%;
      }
    }
  }
  .layout.rows {
    overflow: auto;
    display: flex;
    flex-direction: column;
    > .content {
      @include flex-width(100%);
      flex: 1;
      display: flex;
      margin: 0 auto;
      .main {
        height: 100%;
      }
    }
  }
}
@mixin logo() {
  .logo {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    height: var(--logo-height);
    width: var(--logo-width);
  }
}
@mixin icon() {
  i,
  .icon {
    font-size: var(--icon-font-size);
  }
  .image-icon {
    width: var(--icon-image-size);
    height: var(--icon-image-size);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@mixin button() {
  .btn {
    min-width: var(--input-line-height);
    height: var(--input-line-height);
    line-height: var(--input-line-height);
    padding: var(--btn-padding);
    font-size: var(--btn-font-size);
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    border: var(--input-border);
    border-radius: 3px;
    box-shadow: var(--btn-box-shadow);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: inherit;
    cursor: pointer;
    .span:first-child {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    svg {
      margin-right: 8px;
    }
    &:hover {
      box-shadow: var(--btn-box-shadow-hover);
      background-color: var(--btn-bg-color-hover);
      color: var(--btn-text-color-hover);
    }
    &.no-name {
      padding: 0;
      width: 36px;
      svg {
        margin-right: 0;
      }
      i:before {
        margin-right: 0;
      }
    }
    &.bold {
      height: 32px;
    }
    &.circle {
      border-radius: 50%;
      min-width: auto;
      height: 36px;
      width: 36px;
      min-height: auto;
      padding: 0;
      i:before {
        margin-right: 0;
      }
    }
    &.nopadding {
      padding: 0;
    }
    &.uppercase {
      text-transform: uppercase;
    }
    i:before {
      margin-right: 12px;
    }
  }
}
@mixin notifications() {
  .notifications {
    position: fixed;
    top: var(--top-height);
    right: 0;
    height: calc(100% - 170px);
    overflow: auto;
    border-radius: 4px;
    .notification {
      padding: 12px 24px;
      margin-top: 4px;
      margin-right: 12px;
      background-color: rgba(0, 0, 0, 0.9);
      border-radius: 4px;
      cursor: pointer;
      min-width: 250px;
      min-height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 1px 2px 3px white;
      position: relative;
      &.error {
        background-color: var(--cl-error);
      }
      &:hover:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
@mixin overlay() {
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @include color(var(--cl-overlay), var(--bg-overlay));
    &.no-overlay {
      position: initial;
      top: initial;
      right: initial;
      bottom: initial;
      left: initial;
      z-index: initial;
    }
    &.popup {
      .wrapper {
        @include color(var(--cl-popup), var(--bg-popup));
        padding: 0;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 0 2px black;
        display: flex;
        flex-direction: column;
        .header {
          @include flex-height(36px);
          @include color(var(--cl-popup-header), var(--bg-popup-header));
          display: flex;
          position: relative;
          padding: 0 4px;
          margin: 0 0;
          .btn {
            @include flex-width(24px);
            @include flex-height(24px);
            border: none;
            margin: 0 4px;
          }
          .actions {
            position: absolute;
            top: calc(50% - 12px);
            right: 4px;
          }
        }
        .content {
          padding: 8px 16px;
          flex: 1;
          min-width: 300px;
          min-height: 90px;
        }
        &:hover {
          box-shadow: 0 0 3px white;
        }
      }
      &.maximize {
        .wrapper {
          width: 100%;
          height: 100%;
          border-radius: 0;
        }
      }
    }
  }
}
@mixin default_style() {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-feature-settings: "liga";
  word-break: break-word;
  text-overflow: ellipsis;
}
@mixin no-scrollbar() {
  ::-webkit-scrollbar {
    display: none;
  }
}
@mixin no-scrollbar-x() {
  ::-webkit-scrollbar-button:vertical:start:increment,
  ::-webkit-scrollbar-button:vertical:end:decrement,
  ::-webkit-scrollbar:horizontal {
    display: none;
  }
}
@mixin no-scrollbar-y() {
  ::-webkit-scrollbar:vertical {
    display: none;
  }
}
@mixin vertical-scrollbar() {
  ::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
  }
  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-bg);
    border: var(--scrollbar-track-border);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg);
    border: var(--scrollbar-thumb-border);
  }
  ::-webkit-scrollbar-button {
  }
  ::-webkit-scrollbar-button:vertical:start:increment,
  ::-webkit-scrollbar-button:vertical:end:decrement,
  ::-webkit-scrollbar:horizontal {
  }
  ::-webkit-scrollbar-button:vertical:start {
  }
  ::-webkit-scrollbar-button:vertical:end {
  }
}
@mixin table(
  $height: var(--table-height),
  $thead-height: var(--table-thead-height),
  $rheight: var(--table-row-height),
  $cwidth: var(--table-col-width),
  $bg: var(--table-bg),
  $bd-cl: var(--table-bd-cl),
  $bg-head: var(--table-thead-bg),
  $cl-head: var(--table-thead-cl),
  $hover: var(--table-row-hover-bg),
  $selected: var(--table-row-selected-bg)
) {
  .table {
    height: $height;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: $bg;
    border-color: $bd-cl !important;
    border: 1px solid;
    box-sizing: border-box;
    .trow {
      border-color: $bd-cl !important;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      box-sizing: border-box;
      width: fit-content;
      min-width: 100%;
      border-bottom: 1px solid;
    }
    .tcell {
      @include flex-width($cwidth);
      border-color: $bd-cl !important;
      cursor: pointer;
      box-sizing: border-box;
      font-size: 11px;
      height: $rheight;
      vertical-align: top;
      padding: 6px 3px;
      border-right: 1px solid;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:before {
        margin-right: 2px;
        font-size: 8px;
        color: white;
      }
      &:last-child {
        flex: 1;
        width: initial;
        max-width: initial;
        border-right: none;
      }
    }
    .thead {
      overflow: hidden;
      height: $thead-height;
      background-color: $bg-head;
      position: sticky;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      color: $cl-head;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      &::-webkit-scrollbar {
        display: none;
      }
      &::-webkit-scrollbar-button:vertical:start:increment,
      &::-webkit-scrollbar-button:vertical:end:decrement,
      &::-webkit-scrollbar:horizontal {
        display: none !important;
      }
      .trow {
        align-items: flex-start;
        flex: 1;
        .tcell {
          color: $cl-head;
          font-weight: bold;
          border-bottom: none;
          height: 100%;
          vertical-align: top;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
        .tgroup {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: fit-content;
          .tcell {
            border-right: 1px solid;
          }
          .month {
            width: 100%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid $bd-cl;
            border-right: 1px solid $bd-cl;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            &.small {
              font-size: 80%;
            }
            &.xsmall {
              font-size: 50%;
              white-space: normal;
            }
          }
          .days {
            display: flex;
            flex: 1;
          }
          &:last-child {
            .month {
              border-right: none;
            }
            .tcell:last-child {
              border-right: none;
            }
          }
        }
      }
      &:hover {
        overflow-x: auto;
      }
    }
    .tbody {
      flex: 1;
      &::-webkit-scrollbar:vertical {
        display: none;
      }
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      .trow {
        &:hover {
          background-color: $hover;
        }
        &.selected {
          background-color: $selected;
        }
        .tcell:last-child {
          border-right: none;
        }
        &:last-child {
          border-bottom: none;
        }
      }
      &:hover {
        overflow: auto;
      }
    }
  }
}

@mixin do-style() {
  body.route {
    @include vertical-scrollbar();
    @include default_style();
    @include colors();
    @include common();
    @include fonts();
    @include input();
    @include textarea();
    @include select();
    @include icon();
    @include a();
    @include p();
    @include label();
    @include iframe();
    @include heading();
    @include inputfield();
    @include form();
    @include logo();
    @include notifications();
    @include table();
    @include button();
    @include overlay();
    @include layouts();
    /*** print ***/
    @media print {
      background-color: var(--bg-printing);
      display: block;
      padding: 0 0;
      margin: 0 0;
      .no-printing {
        display: none !important;
      }
    }
  }
}
